* {
  margin: 0;
  padding: 0;
}

#canvas1 {
  position: absolute;
}

body {
  background: linear-gradient(-45deg, #ffffff, #8c00ff, #00bbff, #00ffc3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.controls {
  position: absolute;
  z-index: 100;
}

img {
  display: none;
}

#warpButton {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  margin: 50px;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 500;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
